<div class="card h-100 shadow-sm">
    <img src="{{car.picture_url}}" alt="{{car.name}}" class="img-fluid bg-info">
    <div class="card-body d-flex flex-column">
        <a href="#">
            <h6 class="text-uppercase">{{car.name}}</h6>
        </a>
        <span class="mb-2">{{car.price | currency}}</span>

        <div class="btn-group mt-auto">
            <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
            <button type="button" class="btn btn-outline-secondary">View</button>
        </div>
    </div>
</div>